
.navbar a,#nav
{
padding:0;
margin:0;
list-style:none;
vertical-align:middle;
font-size:9pt;
z-index:200;
height:30px;
}


/* แถบเมนูบาร์*/
.navbar, #nav ul
{
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #0078bf;
    /*border-top: 2px solid #ec008c;*/
}

#nav li{
	float:left;
}

#nav li li
{
    background-color: #FFCCFF;
    float: none;
    border-left: 0px solid #0078bf;
    border-right: 0px solid #0078bf;

}

#nav li li.last{
	border-bottom:2px solid #488E00;

}* html #nav li li{float:left;}.navbar{border-style:none;}

/* Menu bar ส่วนที่เป็นชื่อโมดูล*/
.navbar a, #nav li a
{
    display: block;
    float: left;
    color: #000000;
    background-color:#FFCCFF;
    height: 30px;
    padding: 0 7px;
    line-height: 30px;
    text-decoration: none;
    white-space: nowrap;
    font-weight: bold;
    border-right:solid 1px #FFFFFF;
}

#nav li li a{
    display:block;
    float:none;
    height:19px;
    line-height:19px;
    font-size:9pt;
    padding:0 5px 0 5px;
    font-weight:normal;
    letter-spacing:0;
    background-color:#e30076;
}

#nav li li a.fly
{
/*white-space:nowrap;*/
background-color:#0078bf;
}

a.fly.highlight{
border:1px solid Yellow;
margin:5px 0!important;
padding:3px!important;
}

/* Menu Item ส่วนที่ Hiligh ตรงที่ไม่ใช่ข้อความ */
.navbar a:hover,#nav li:hover
{
    position:relative;
    z-index:1000;
    background-color:#e30076!important;
    margin:0;
    padding:0;

}

/* เงาของโมดูล เมื่อเมาส์ชี้อยู่ */
#nav>li:hover{
box-shadow:2px 2px 7px rgba(0,0,0,0.5);
-moz-box-shadow:2px 2px 7px rgba(0,0,0,0.5);
-webkit-box-shadow:2px 2px 7px rgba(0,0,0,0.5);
}

.navbar a:hover,#nav li.cssplay_hover
{
    position:relative;
    z-index:300;
    background-color:#e30076;
    margin:0;
    padding:0;
}


#nav li.cssplay_hover a{color:#000;background-color:#C3DE6C;}
#nav li li a{color:#fff;font-weight:bold;}
#nav li li.cssplay_hover a{color:#fff;font-weight:bold;}

/*เมนู Level 1 เมื่อเมาส์ชี้อยู่*/
#nav li:hover ul{left:0;top:30px;z-index:500;}


#nav li.cssplay_hover ul{left:0;top:24px;z-index:500;}
#nav ul
{
position:absolute;
left:-9999px;
top:-9999px;
box-shadow:2px 2px 7px rgba(0,0,0,0.5);
-moz-box-shadow:2px 2px 7px rgba(0,0,0,0.5);
-webkit-box-shadow:2px 2px 7px rgba(0,0,0,0.5);
}

/* * html #nav ul{width:2px;} */

#nav li:hover li:hover>ul
{
    margin-left:100%;
    left:0;
    top:-1px;
    z-index:500;
}

#nav li:hover>ul ul
{
    position:absolute;
    left:-9999px;
    top:-9999px;
    border:solid 1 #FFFFFF;
    margin-left:100%;
}

/* ชื่อโมดูล หรือเมูที่ถูกเลือกอยู่*/
#nav li:hover>a,#nav li a.selected
{
    color:#FFFFFF!important;
    background-color:#e30076!important;
    font-weight:bold;
    height:30px;
    z-index:500;
}


/*สำหรับ Menu Item ทุกๆ Level*/
#nav li li a,#nav li li li a,#nav li li li li a,#nav li li li li li a,#nav li li li li li li a
{
color:#000000!important;
background-color:#FFCCFF!important;
font-weight:bold;
height:24px;
padding-left:10px;
border-bottom:solid 0px #FFFFFF;
border-right:solid 0px;

}


/* Menu Item ที่ Mouse กำลังชี้อยู่*/
#nav li li:hover>a, #nav li li li:hover>a
{
color:#FFFFFF!important;
background-color:#e30076!important;
font-weight:bold;
height:24px;
}


/*สำหรับ Class heading*/
#nav .heading
{
white-space:nowrap;
color:#fff!important;
font-weight:bold;
margin:7px 0 3px 3px;
padding:2px;
background-color:#e30076!important;
}

#nav li:hover.heading
{
color:#fff!important;
background-color:#64bf00!important;
}